<div class="product-list-container">
  <h2>Lista de Productos</h2>
  <button class="create-button" (click)="createNewProduct()">Crear Nuevo Producto</button>

  <p class="message" *ngIf="message">{{ message }}</p>

  <div *ngIf="products.length === 0 && !message">
    <p>No hay productos disponibles. Crea uno nuevo.</p>
  </div>

  <div class="product-card" *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p><strong>Descripción:</strong> {{ product.description }}</p>
    <p><strong>Precio:</strong> ${{ product.price | number:'1.2-2' }}</p>
    <div class="product-actions">
      <button class="edit-button" (click)="editProduct(product._id)">Editar</button>
      <button class="delete-button" (click)="deleteProduct(product._id)">Eliminar</button>
    </div>
  </div>
</div>